$redTop: #ed3232;
$red: #ed0000;

$orangeTop: #e58d45;
$orange: #ef7919;

$blueTop: #4588e3;
$blue: #276fd2;

$greenTop: #45cb45;
$green: #27b327; 

$darkBlueTop: #0c2241;
$darkBlue: #021733;

$white: #fff;
