@import './colors.scss';

@font-face {
  font-family: 'StarWars';
  src: url('/assets/star_wars.ttf');
}
@font-face {
  font-family: 'SpecialElite';
  src: url('/assets/special_elite.ttf');
}
canvas{
  width: 100%;
  margin: 0;
}
body, html{
  margin: 0;
  padding: 0;
  background-color: $graphite;
}
div.main-row {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, minmax(320px, 1fr));
  
}
