@import './colors.scss';
canvas{
  width: 100%;
  margin: 0;
}
body, html{
  margin: 0;
  padding: 0;
  background-color: $graphite;
}
div.main-row {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, minmax(320px, 1fr));
  
}
