@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';


div.about{
    font-family: 'Roboto';
    color: $white;
    padding: 20px;
    background-color: $orange;
    div.content{
        @include width;
        h2{
            text-align: center;
            font-weight: 900;
            width: 100%;
            letter-spacing: 10px;
            white-space: 20px;
            font-size: 1.5em;
        }
        p {
            line-height: 1.3em;
            font-size: 1em;
            word-spacing: 3px;
            letter-spacing: 1px;
            word-wrap: break-word;
        }
    }
    div.icons{
        @include width;
    }

}

@media screen and (max-width: 992px){
    div.about{
        div.content{
            @include width-mobile;
        }
    }
    div.icons{
        @include width-mobile;
    }
}