<div class="button-container">
    <div (click)="toggle()" [@flipButton]="isOpen ? 'default' : 'flipped'" class="card">
        <button [type]="'type'" class="front" [ngStyle]="buttonStyle">
            <span class="text">
                {{description | translate}}
            </span></button>
        <button [type]="'type'" class="back" [ngStyle]="buttonBackStyle">
            <span class="text">
                {{description | translate}}
            </span>
        </button>
    </div>
</div>