<div class="mobile-container">
    <h1><img src="/assets/logo/logo.png"></h1>
    <div #navContainer class="nav-container">
        <nav>
            <button (click)="toggleMenu()" class="hamburger-container">
                <img  class="hamburger" src="/assets/menu.png">
            </button>
            <div class="button-container">
                <div class="button">
                    <app-link [description]="'top'" [initialFrontColor]="Colors.$green"
                        [topFrontColor]="Colors.$greenTop" [initialBackColor]="Colors.$orange"
                        [topBackColor]="Colors.$orangeTop" [link]="'top'">
                    </app-link>
                </div>
                <div class="button">
                    <app-link [description]="'about'" [initialFrontColor]="Colors.$red"
                        [topFrontColor]="Colors.$redTop" [initialBackColor]="Colors.$blue"
                        [topBackColor]="Colors.$blueTop" [link]="'about'">
                    </app-link>
                </div>

                <div class="button">
                    <app-link [description]="'contact'" [initialFrontColor]="Colors.$blue"
                        [topFrontColor]="Colors.$blueTop" [initialBackColor]="Colors.$red"
                        [topBackColor]="Colors.$redTop" [link]="'contact'">
                    </app-link>
                </div>
            </div>
        </nav>
    </div>
</div>