@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins.scss';

div.header-content{
    width: 100%;
    color: $white;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;

    h1{
        @include text-header;

        font-size: 4.5em;
    }
}
