<div class="link-container">
    <div (click)="toggle()" [@flipLink]="isOpen ? 'default' : 'flipped'" class="card">
        <a class="link link-front" [ngStyle]="buttonStyle" href="#{{link}}">
            <span class="text-link">
                {{description | translate}}
            </span></a>
        <a class="link link-back" [ngStyle]="buttonBackStyle" href="#{{link}}">
            <span class="text-link">
                {{description | translate}}
            </span>
        </a>
    </div>
</div>
