<div class="form">
    <div class="content">
        <h2>{{'contact' | translate}}</h2>
        <form [formGroup]="form" class="form" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="text">{{ 'name' | translate }}</label>
                <input id="text" type="text" [formControl]="name">
                <span *ngIf="name.errors && name.errors.required && name.touched">{{ "error" | translate }}</span>
                <span *ngIf="name.errors && name.errors.minLength && name.touched">{{ "error" | translate }}</span>

            </div>
            <div class="form-group">
                <label for="email">{{ 'email' | translate }}</label>

                <input type="email" [formControl]="email">
                <span *ngIf="email.errors && email.errors.required && email.touched">{{ "error" | translate }}</span>
            </div>
            <div class="form-group">
                <label for="phone">{{ 'phone' | translate }}</label>

                <input type="phone" [formControl]="phone">
                <span *ngIf="phone.errors && phone.errors.required && phone.touched">{{ "error" | translate }}</span>
            </div>
            <div class="form-group">
                <label for="message">{{ 'message' | translate }}</label>

                <textarea [formControl]="message">
                    </textarea>
                <span *ngIf="message.errors && message.errors.required && message.touched">{{ "error" | translate
                    }}</span>
                <span *ngIf="message.errors && message.errors.minLength && message.touched">{{ "error" | translate }}</span>
            </div>
            <div class="form-group">
                <app-button [type]="'submit'" [initialFrontColor]="Colors.$green" [topFrontColor]="Colors.$greenTop"
                    [initialBackColor]="Colors.$orange" [topBackColor]="Colors.$orangeTop" [description]="'send'">
                </app-button>
            </div>
        </form>
    </div>
</div>