<nav #nav class="menu">
    <div class="side-wrapper left-wrapper">

        <div class="side left-side">
            <app-link [description]="'top'" [initialFrontColor]="Colors.$green" [topFrontColor]="Colors.$greenTop"
                [initialBackColor]="Colors.$orange" [topBackColor]="Colors.$orangeTop" [link]="'top'">
            </app-link>

            <app-link [description]="'about'" [initialFrontColor]="Colors.$blue" [topFrontColor]="Colors.$blueTop"
                [initialBackColor]="Colors.$red" [topBackColor]="Colors.$redTop" [link]="'about'">
            </app-link>

        </div>

    </div>

    <div class="side-wrapper right-wrapper">
        <div class="side right-side">
            <app-link [description]="'game'" [initialFrontColor]="Colors.$red" [topFrontColor]="Colors.$redTop"
                [initialBackColor]="Colors.$blue" [topBackColor]="Colors.$blueTop" [link]="'game-section'">
            </app-link>

            <app-link [description]="'contact'" [initialFrontColor]="Colors.$green" [topFrontColor]="Colors.$greenTop"
                [initialBackColor]="Colors.$orange" [topBackColor]="Colors.$orangeTop" [link]="'contact'">
            </app-link>
        </div>
    </div>
    <div class="header-logo">
        <img src="/assets/logo/logo.png">
    </div>
</nav>
