@import '../../styles/styles.scss';
@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

nav.menu {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 40%);
  justify-content: space-between;
  div.side-wrapper {
    @include navbar-gradient;
    padding: 10px;
    position: relative;

    display: grid;
    grid-template-rows: auto;
    div.side {
      margin: 10px;
      z-index: 2;

      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: auto;
      justify-items: center;
    }
  }
  div.left-wrapper {
    box-shadow: 19px 3px $blur $white, -520px 3px $blur $white;
  }
  div.left-wrapper::after {
    @include trapeze;
    @include left-trapeze;
  }
  div.right-wrapper {
    box-shadow: -19px 3px $blur $white, 520px 3px $blur $white;
  }
  div.right-wrapper::before {
    @include trapeze;
    @include right-trapeze;
  }

  div.header-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    img {
      margin-top: 10px;
      height: 80px;
      width: auto;
    }
  }
}
