@import '../../styles/colors.scss';

div.bg {
    background: linear-gradient(to bottom, $greenTop 5%,  $green 100%);
    div.game-wrapper-container {
    position: relative;
    width: 100%;

    background-image: url('/assets/game_shot.png');
    background-size: cover;
    margin: auto;
  }
}
