/* You can add global styles to this file, and also import other style files */
canvas{
  width: 100%;
  margin: 0;
}

div {
  background-color: red;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, minmax(320px, 1fr));
  
}
